<div class="container" id="home-container">
   <div class="jumbotron">
      <h1 class="row justify-content-center display-4"><%= @hero.hero_name %>  Dashboard</h1>
      <hr class="my-4">
      <p class="lead">
      <div class="container justify-content-center display-4 btn-group" role="group">
      <div class="btn-group btn-group" role="group">
         <%= link_to "Bio", hero_bio_path(@hero.hero_bio), class: "btn btn-info" %>
      <% if current_user.admin? %>
         <%= link_to "Edit Bio", edit_hero_bio_path(@hero.hero_bio), class: "btn btn-info" %>
         <%= link_to "Edit Name", edit_hero_path(@hero), class: "btn btn-info" %>
      <% end %>
         <%= link_to 'Back to Reports', reports_path, class: "btn btn-info" %>
         <%= link_to 'Back to Heroes', heros_path, class: "btn btn-info" %>
         </div>
      </div>
   </div>
</div>
