<div class="container" id="home-container">
   <div class="jumbotron">
      <h1 class="row justify-content-center display-4"><%= @villainbio.villain.villain_name %> Bio</h1>
      <hr class="my-4">
      <p class="lead">
      <div class="container">
         <p><strong><%= @villainbio.villain.villain_name %> Bio Summary</strong></p>
         <p><%= @villainbio.villain_summary %></p>
      </div>
      <div class="container">
         <p><strong><%= @villainbio.villain.villain_name %>  Powers</strong></p>
         <p><%= @villainbio.villain_powers %></p>
      </div>
   </div>
</div>