<div class="container">
   <h1 class="row justify-content-center">Show Villain Bio</h1>
   <table class="table table-bordered bg-light">
      <thead bgcolor="#959595">
         <tr>
            <th scope="col">Villain Summary</th>
            <th scope="col">Villain Powers</th>
            <th scope="col">Villain Name</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td><%= @villainbio.villain_summary %></td>
            <td><%= @villainbio.villain_powers %></td>
            <td><%= @villainbio.villain.villain_name %></td>
         </tr>
      </tbody>
   </table>
   <%= link_to "Edit Villain Bio", edit_villain_bio_path(@villainbio), class: "btn btn-primary mr-4" %>
   <%= link_to 'Reports', reports_path, class: "btn btn-outline-secondary mr-4" %>
</div>
