<h1>Requester Index</h1>

<table>
<thead>
<tr>
    <th>Username</th>
    <th>Email</th>
    </tr>
</thead>

<tbody>
<% @requesters.each do |requester|%>
<tr>
    <td><%= requester.username %><td>
    <td><%= requester.email %><td>
    <td><%= link_to "Edit requester", edit_requester_path(requester) %>
    <td><%= link_to "Delete requester", requester_path(requester), method: :delete, data: {confirm: "Are you sure?"} %>
</tr>
<% end %>
</tbody>
</table>

<%= link_to 'New requester', new_requester_path %>