<h1>Report Index</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Description</th>
      <th>Damage Type</th>
      <th>Hero</th>
      <th>Villain</th>
      <th>Casualties</th>
    </tr>
  </thead>

  <tbody>
    <% @report.each do |report| %>
      <tr>
        <td><%= report.subject %></td>
        <td><%= report.description %></td>
        <td><%= report.damage_type %></td>
        <td><%= report.hero %></td>
        <td><%= report.villain %></td>
        <td><%= report.casualties %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>