<h1>Assignee Index</h1>
<div class="container">
    <table class="table table-bordered bg-light">
         <thead bgcolor="#959595">  
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                
            </tr>
        </thead>

        <tbody>
            <% @assignees.each do |assignee|%>
            <tr>
                <td class="active"><%= assignee.username %></td>
                <td><%= assignee.email %></td>
                <td><%= link_to "Edit assignee", edit_assignee_path(assignee) %> </td>
                <td><%= link_to "Delete assignee", assignee_path(assignee), method: :delete, data: {confirm: "Are you sure?"} %> </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
<%= link_to 'New assignee', new_assignee_path %>