<div class="container" id="home-container">
   <div class="jumbotron">
      <h1 class="row justify-content-center display-4"><%= @herobio.hero.hero_name %> Bio</h1>
      <hr class="my-4">
      <p class="lead">
      <div class="container">
         <p><strong><%= @herobio.hero.hero_name %> Bio Summary</strong></p>
         <p><%= @herobio.hero_summary %></p>
      </div>
      <div class="container">
         <p><%= @herobio.hero.hero_name  %>  Powers</p>
         <p><%= @herobio.hero_powers %></p>
      </div>
   </div>
</div>
