<p>
  <strong>Name:</strong>
  <%= @responder.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @responder.email %>
</p>

<%= link_to "Edit", edit_responder_path(@responder)%> |
<%= link_to 'Back to Responder Index', responders_path %> |
<%= link_to "Delete", responders_path(@responder), method: :delete, data: {confirm: "Are you sure you want to delete?"}%>
