<div class="container">
   <div class="row justify-content-center">
      <div class="col-10">
         <% if @report.errors.any? %>
         <h2>The following errors prevented the article from being saved</h2>
         <ul>
            <% @report.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
         </ul>
         <% end %>
         <%= form_with(model: @report, class: "shadow p-3 mb-3 bg-dark rounded", local: true) do |f| %>
         <div class="form-group row">
            <%= f.label :subject, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
               <%= f.text_field :subject, class: "form-control shadow rounded", placeholder: "Subject of Report" %>
            </div>
         </div>
         <div class="form-group row">
            <%= f.label :description, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
               <%= f.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "Description of Issue" %>
            </div>
         </div>
         <div class="form-group row">
            <%= f.label :hero, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
               <%= f.collection_select(:hero_ids, Hero.all, :id, :hero_name, {prompt: "Select a Hero"}, {:required => true}) %>
            </div>
         </div>
         <div class="btn-toolbar p-2 mb-2 row justify-content-center">
            <%= f.submit class: "btn btn-primary" %>
         </div>
         <% end %>
      </div>
      <div class="mb-3">
         <%= link_to '[ Cancel and return to reports listing ]', reports_path, class: "text-info" %>
      </div>
   </div>
</div>