<p>
  <strong>Subject:</strong>
  <%= @report.subject %>
</p>

<p>
  <strong>Description:</strong>
  <%= @report.description %>
</p>

<p>
  <%# <strong>Villains:</strong> %>
  <%# <% @report.villains.each do |v| %>
  <%# <%= v.villain_name %>
  <%# <% end %>
</p>

<p>
  <strong>Heroes:</strong>
  <% @report.heros.each do |h| %>
  <%= h.hero_name %>
  <% end %>
</p>

<%= link_to "Edit", edit_report_path(@report)%> |
<%= link_to 'Back to Report Index', reports_path %> |
