<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <%= link_to "Recover Now", root_path, id: "logo", class: "navbar-brand"%>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
         <% if user_signed_in? %>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Heroes & Villains
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <%= link_to "Heroes", heros_path, class: "dropdown-item"%>
               <%= link_to "Villains", villains_path, class: "dropdown-item"%>
            </div>
         </li>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Bios
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <%= link_to "Hero Bios", hero_bios_path, class: "dropdown-item"%>
               <%= link_to "Villain Bios", villain_bios_path, class: "dropdown-item"%>
            </div>
         </li>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= "(Admin)" if current_user.admin? %> Profile
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <%= link_to "View your profile", user_path(current_user), class: "dropdown-item" %>
               <%= link_to "Edit your profile", edit_user_path(current_user), class: "dropdown-item" %>
               <%= link_to "Edit user accounts", users_path, class: "dropdown-item" if current_user.admin? %>
               <%= link_to "Delete profile", user_path(current_user), class: "dropdown-item text-danger", method: :delete, data: { confirm: "Are you sure?" } %> 
            </div>
         </li>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reports
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <%= link_to "Submit a Report", new_report_path, class: "dropdown-item" %>
               <%= link_to "Show Reports", reports_path, class: "dropdown-item" %>
            </div>
         </li>
         <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link"%>
         </li>
         <% else %>
         <li class="nav-item">
            <%= link_to 'Log in', new_user_session_path, class: "nav-link" %>
         </li>
         <li class="nav-item">
            <%= link_to 'Sign up', new_user_registration_path, class: "nav-link" %>
         </li>
         <% end %>
         </li>
      </ul>
   </div>
</nav>